@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}
body {
    background-color: #f1f1f3;
    margin: 0 auto;
}
/* Primary Style */
.text-center {
    text-align: center;
}

.text-primary {
    color: #006a50;
}
.text-secondary {
    color: #f9f9f9;
    font-size: 16px;
}
.text-title-primary {
    color: #0e0e0e;
    font-weight: bold;
}
.title-primary {
    font-size: 40px;
    margin-bottom: 2rem;
}
.subtitle-primary {
    font-size: 16px;
    line-height: 24px;
    color: 00eE0E;
    opacity: 0.7;
    margin-bottom: 24px;
}

.bg-primary {
    background-color: #c6e4d6;
    border-radius: 24px;
}
.btn-primary {
    padding: 34px;
    font-size: 18px;
    font-weight: semibold;
    border: none;
    border-radius: 8px;
    background-color: #006a50;
    color: #ffffff;
}

/* ! Header Style */
header {
    max-width: 1600px;
    padding: 24px;
    margin: 0 auto;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 150px;
}

header .title {
    font-size: 32px;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: #006a50;
    font-size: 18px;
    padding: 15px 30px;
    border: 1px solid #006a50;
    border-radius: 8px;
}
section {
    max-width: 1280px;
    margin: 0 auto 80px;
    font-family: "Work Sans", serif;
}
/* ! Hero Section */

#hero {
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    padding: 100px 80px;
    display: flex;
    align-items: center;
    gap: 64px;
}
.hero-container h3 {
    font-size: 24px;
    color: #0e0e0e;
    opacity: 0.6;
}

#hero .hero-container .hero-title {
    font-size: 50px;
    color: #0e0e0e;
    font-weight: bold;
    margin: 24px 0;
    text-align: left;
}

/* ! Vision Style */

#vision .vision-title {
    margin-bottom: 1rem;
}

.vision-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.vision-container .vision-items {
    padding: 32px;
}
.vision-items h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0e;
    opacity: 0.8;
    margin: 24px 0;
}
.vision-container .item-1 {
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.vision-container .item-2 {
    background-color: #c6e4d6;
    border-radius: 16px;
}
.vision-container .item-3 {
    background-color: #f7ebcf;
    border-radius: 16px;
}

.vision-btn {
    padding: 20px;
    border-radius: 8px;
}
.vision-btn.btn-1 {
    background-color: #5490f5;
}
.vision-btn.btn-2 {
    background-color: #09a15c;
}
.vision-btn.btn-3 {
    background-color: #ffc239;
}

/* ! News Section */
/* .news-title {
    margin-bottom: 2rem;
} */

.news-item {
    padding: 48px;
    display: flex;
    gap: 32px;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
}
.news-item.news-1 {
    margin-bottom: 24px;
}
.news-item.news-2 {
    flex-direction: row-reverse;
}
.news-content {
    background-color: #fff;
}
.news-btn {
    padding: 14px 26px;
}
#news > div > div.news-item.news-1 > div.news-img > img {
    border-radius: 24px;
}
#news > div > div.news-item.news-2 > div.news-img > img {
    border-radius: 24px;
}

.news-h2 {
    font-size: 32px;
    margin-bottom: 0;
}
#news > div > div.news-item.news-1 > div.news-content > p {
    margin: 1rem 0;
}

#news > div > div.news-item.news-1 > div.news-content > div > img {
    margin-bottom: 0.5rem;
}

/* Donate style */

#donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donate-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 34px;
    /* width: 100%; */
}
.donate-container .card {
    padding: 40px;
    border-radius: 16px;
    border: 2px solid #adadad;
    font-size: 40px;
    color: #0e0e0e;
    opacity: 0.8;
}
.donate-container .card:hover {
    background-color: #c6e4d6;
}
.donate-input {
    width: 80%;
    height: 64px;
    text-align: center;
    border: none;
    margin: 1rem 0;
    background-color: #fff;
    font-size: 20px;
}
.dn-btn {
    padding: 18px 34px;
}

/* Subscribe Style */

.subscribe-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}

form {
    display: flex;
}
.form-input {
    flex-grow: 2;
    height: 55px;
    border: none;
    font-size: 20px;
    padding: 18px 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form-btn {
    padding: 17px 34px;
    font-size: 18px;
    border: none;
    background-color: #006a50;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 24px;
}

/* Footer Style */

footer {
    margin: 150px auto 50px;
    text-align: center;
}
footer .ft-title {
    font-size: 32px;
    margin-bottom: 32px;
}
footer hr {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
}

footer ul li {
    list-style-type: none;
    display: inline;
    margin: 0px 10px;
}
footer ul li a img {
    text-decoration: none;

    margin: 32px 0;
}
